{% extends 'base.html.twig' %}

{% block title %}Stadium Xchange{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <div class="sell-ticket">VENDRE MON TICKET</div>
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="Stadium Xchange">
        </div>
        <div class="login">M'IDENTIFIER</div>
    </div>

    <div class="tickets">
        <div class="ticket">
            <h2>Game: X - X</h2>
            <p>Date: XX-XXXX</p>
            <p>Price: XX</p>
        </div>
        <div class="ticket">
            <h2>Game: X - X</h2>
            <p>Date: XX-XXXX</p>
            <p>Price: XX</p>
        </div>
        <!-- Recréer la structure des tickets restants -->
    </div>
</div>
{% endblock %}
