/* Style global du body */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../images/background_image.PNG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Conteneur principal de l'espace personnel */
.personal-space {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* En-tête de l'espace personnel */
.personal-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.welcome-message {
    font-size: 1.1rem;
    color: #ffc107;
}

.logout-button {
    color: #ffc107;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: #ffc107;
    color: black;
}

/* Contenu principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    width: 100%;
    
}

/* Section des tickets */
.ticket-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto 40px;
}

/* Boîtes de tickets */
.ticket-box {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Ajustement pour la troisième boîte */
.ticket-box:nth-child(3) {
    grid-column: 1 / -1;
    width: 70%;
    justify-self: center;
}

.ticket-box h2 {
    font-size: 1.8rem;
    color: #ffc107;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Style des tickets individuels */
.ticket {
    background-color: rgba(82, 75, 54, 0.7); 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ticket:hover {
    transform: translateY(-8px);
    box-shadow: 0 5px 20px rgba(230, 173, 1, 0.961);
}

.ticket p {
    color: whitesmoke;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Alignement des images du logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 60px;
    width: auto;
    padding-right: 13vh;
}

/* Section des cartes bancaires */
.card-section {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.card-box {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-box h2 {
    font-size: 1.8rem;
    color: #ffc107;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.card {
    cursor: pointer;
    background-color: rgba(82, 75, 54, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(230, 173, 1, 0.961);
}

.card p {
    color: whitesmoke;
    margin: 5px 0;
    font-size: 1.2rem;
    line-height: 1.4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.add-card-button {
    display: inline-block;
    color: #000;
    background-color: #ffc107;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

.add-card-button:hover {
    background-color: #e0a800;
    color: #fff;
}


/* Style du bouton de suppression */
.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Effet de survol pour le bouton de suppression */
.delete-button:hover {
    background-color: #d32f2f;
}

/* Responsive design */
@media (max-width: 1024px) {
    .ticket-box {
        width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .personal-header {
        flex-direction: column;
        padding: 15px;
    }

    .welcome-message, .logout-button {
        margin: 2px 0;
    }

    .ticket-section, .card-section {
        padding: 0 10px;
    }

    .ticket-box, .card-box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .main-content {
        padding-top: 160px;
    }

    .ticket p, .card p {
        font-size: 1rem;
    }
}

/* Style de la modal de confirmation */
.modal {
    display: none; /* Par défaut, la modal est cachée */
    position: fixed; 
    z-index: 2000; /* La modal doit être au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ajouter un défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    margin: 15% auto; /* Centrer verticalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de la modal */
    max-width: 500px; /* Largeur maximale */
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal h2 {
    font-size: 1.8rem;
    color: #ffc107;
    margin-bottom: 20px;
}

.modal p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

/* Style des boutons de la modal */
.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

.confirm-button {
    background-color: #28a745;
    color: #fff;
}

.confirm-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.cancel-button:hover {
    background-color: #d32f2f;
}

/* Responsive design pour la modal */
@media (max-width: 768px) {
    .modal-content {
        width: 90%; /* Réduction de la largeur sur les petits écrans */
    }

    .modal h2 {
        font-size: 1.5rem;
    }

    .modal p {
        font-size: 1rem;
    }
}
