
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stadium Xchange{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
     {% block stylesheets %}
    
    {% endblock %}
    <!-- Lien vers ton fichier CSS -->
</head>
<body>
    <header>
        <!-- Navbar ou tout autre contenu commun -->
    </header>

    <main>
   

        {% block body %}{% endblock %}
    </main>

    <footer>
        <!-- Footer -->
    </footer>
</body>
</html>


