<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stadium Xchange{% endblock %}</title>

    
    <link rel="icon" type="image/x-icon" href="{{ asset('images/icon.png') }}">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body>
    <header>
        <!-- Navbar -->
    </header>

    <main>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
    </main>

    <footer>
        <!-- Footer -->
    </footer>
</body>
</html>
