
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stadium Xchange{% endblock %}</title>
    <!-- Lien vers fichier CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %} 
    
</head>
<body>
    <header>
        <!-- Navbar  -->
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <!-- Footer -->
    </footer>
</body>
</html>


