<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stadium Xchange{% endblock %}</title>

    
    <link rel="icon" type="image/x-icon" href="{{ asset('images/icon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <!-- Navbar -->
    </header>

    <main>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </main>

    <footer>
        <!-- Footer -->
    </footer>
</body>
</html>
